
[DIMENSIONS AND SIZES]

#embedding dimension
d_model = 48
#default query-key matrix dimension
d_qk = 12
#default value matrix dimension
d_v = 12
#default feed-forward inner dimension
d_ff = 128
#default head number
n_heads = 4
#number of encoders
n_encoders = 4
#number of decoders
n_decoders = 4

[VOCAB PARAMETERS]

#language files
language_in_file = simplepl2.txt
language_out_file = simpleen2.txt

[TRAINING PARAMETERS]

epochs = 10
learning_rate = 0.001
dropout = 0.1

[MODE]

masked_attention_matrix = True